.bg-white{
	background-color: #4D4D4D !important;
}
.bg-dark{
	background-color: #000000 !important;
}
.bg-blue{
	background-color: #1193D4 !important;
}
.bg-green{
	background-color: #00A65A !important;
}
.bg-purple{
	background-color: #545096 !important;
}
.bg-red{
	background-color: #E55053 !important;
}
.bg-yellow{
	background-color: #F39C12 !important;
}